.dateRangePickerContainer {
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.dateRangePickerContainer .rdrDateDisplayWrapper {
  display: none;
}

.dateRangePickerContainer .rdrDayToday .rdrDayNumber span::after {
  background: #F1972C;
}

.rdrDefinedRangesWrapper {
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

.rdrDateRangeWrapper {
  border-radius: 8px;
}

.rdrStaticRange:hover .rdrStaticRangeLabel {
  background: #F1972C;
  color: #fff;
}
